    <footer class="section-padding bg-br">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-5 mb-4 mb-lg-0">
            <div >
              <h3 class="footer-title">About ES</h3>
           <p class="pr-3 pr-sm-5">Over 20 years of experience installing and setting up UNIX based Linux servers from Bare Metal to complex Cloud infrastructures. We pride ourselves on our over managed, slick running and ultra secure machines.</p>
              <p class="pr-3 pr-sm-5">1000's of Linux servers installed and customized perfectly for your needs
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-2 col-xl-3 mb-4 mb-lg-0  ml-lg-auto">
            <h3 class="footer-title">Links</h3>
            <ul class="footer-links">
              <li><a href="">Server Deals</a></li>
              <li><a href="">Pro Web Hosting</a></li>
              <li><a href="">Server Monitoring</a></li>
              <li><a href="">Site Design</a></li>
              <li><a href="">Software Development</a></li>
              <li><a href="">Domain Registration</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-7 col-lg-3 offset-lg-1 col-xl-3 offset-xl-0 mb-md-4 mb-xl-0 ml-lg-auto">
            <h3 class="footer-title">Subscribe</h3>
            <p>Get SysAdmin Updates and Info</p>
            <form action="">
              <input type="text" placeholder="Your Email Adress">
              
              <input type="submit" class="btn btn-primary" value="MORE DETAILS">
            </form>
          </div>
        </div>
        <div class="copyright-top">
          <hr class="my-4 border-gray">
          <div class="row">
            <div class="col-xl-6 col-md-7 col-12">
              
              <p> Call Us : <a href="" class="footer-number">1-516-816-3126</a></p>
            </div>
            <div class="col-xl-6 col-md-5 col-12">
              <div class="footer-social">
                <a href="">
                  <i class="fab fa-twitter-square fa-2x"></i>
                </a>
                <a href="">
                  <i class="fab fa-google-plus-square fa-2x"></i>
                </a>
                <a href="">
                  <i class="fab fa-facebook-square fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-bottom">
        <a class="scroll-top top-effect" href="#pageTop" id="top">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </a>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
                <p>&copy; 2018 Exceptional Servers Incorporated
                </p> 
            </div>
            <div class="col-md-6">
                <ul class="d-flex">
                  <li><a href="">Home</a></li>
                  <li><a href="">Services</a></li>
                  <li><a href="">Quotes</a></li>
                  <li><a href="">Support</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>

    </footer>