  <header id="pageTop" class="header">

    <nav class="navbar navbar-expand-md main-nav header-transparent">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="burger-menu icon-toggle">
            <i class="icon-menu icons"></i>
          </span>
        </button>
        <a class="navbar-brand" href="/">
<svg width="197px" height="52px" version="1.1" xmlns="http://www.w3.org/2000/svg">
 <path d="m0 0v48h39v-2h-37v-44h193v44h-38v2h40v-48z" fill="#ccc" fill-rule="evenodd"/>
 <path d="m186.2 6.3242-4.5547 0.63477v25.611h4.5547zm-72.879 0.22461v5.2637h4.5547v-5.2637zm-104.16 1.1562v24.865h15.232v-4.1445h-10.529v-6.4219h9.707v-4.1426h-9.707v-6.0117h10.529v-4.1445zm96.113 1.5312-4.5547 0.63477v4.5176h-2.7266v3.6211h2.7266v10.117c0 3.2107 1.6793 4.8164 5.002 4.8164 0.29866 0 0.63448-0.03689 1.0078-0.07422 0.336-0.03733 0.71065-0.07572 1.084-0.15039 0.336-0.03733 0.70893-0.11066 1.0449-0.22266 0.33599-0.07467 0.59608-0.14972 0.85742-0.26172l-0.52149-3.4727c-0.41066 0.112-0.78487 0.22438-1.1582 0.26172-0.41067 0.07467-0.78314 0.11133-1.1191 0.11133-0.59733 0-1.0082-0.1486-1.2695-0.44727-0.26134-0.26133-0.37305-0.67287-0.37305-1.1582v-9.5195h4.3672l0.29883-3.6211h-4.666zm-51.729 4.7793c-1.4187 0-2.615 0.14882-3.623 0.41016-1.008 0.26133-1.7911 0.67242-2.4258 1.2324s-1.0824 1.3073-1.3438 2.166c-0.29867 0.896-0.44727 1.9399-0.44727 3.1719v4.9668c0 1.232 0.1486 2.2761 0.44727 3.1348 0.26133 0.896 0.70908 1.606 1.3438 2.166s1.4178 1.0082 2.4258 1.2695 2.2044 0.41016 3.623 0.41016c0.74667 0 1.5302-0.0755 2.3516-0.1875 0.784-0.112 1.4925-0.29771 2.0898-0.48438l-0.55859-3.7344c-0.63467 0.18667-1.3067 0.30033-1.9414 0.375-0.63467 0.07467-1.2701 0.11133-1.8301 0.11133-1.3067 0-2.2022-0.22388-2.6875-0.67188-0.48533-0.448-0.70898-1.2316-0.70898-2.3516v-5.041c0-1.12 0.22365-1.9036 0.70898-2.3516s1.3808-0.67188 2.6875-0.67188c0.448 0 1.0446 0.03666 1.7539 0.11133 0.70933 0.07467 1.3829 0.18638 2.0176 0.37305l0.55859-3.7324c-0.672-0.224-1.4189-0.41144-2.2402-0.52344-0.82133-0.112-1.5665-0.14844-2.2012-0.14844zm15.377 0c-1.456 0-2.6878 0.18721-3.6211 0.56055-0.97067 0.37333-1.7545 0.89463-2.3145 1.5293-0.59733 0.63467-1.0084 1.3816-1.2324 2.2402-0.26133 0.85867-0.37305 1.793-0.37305 2.7637v4.8145c0 1.0827 0.14882 2.0906 0.41016 2.9492 0.26133 0.85867 0.67197 1.6058 1.3066 2.2031 0.59733 0.59733 1.3826 1.0449 2.3906 1.3809 0.97067 0.336 2.1653 0.48633 3.584 0.48633 0.56 0 1.1195-0.03689 1.7168-0.07422 0.59733-0.03733 1.1956-0.11261 1.793-0.22461 0.59733-0.07467 1.1568-0.1866 1.7168-0.33594 0.56-0.112 1.0444-0.2606 1.4551-0.44727l-0.67188-3.4727c-0.63467 0.224-1.492 0.41099-2.5 0.59766s-2.0543 0.26172-3.0996 0.26172c-1.3813 0-2.3154-0.2256-2.8008-0.71094-0.48533-0.448-0.74609-1.2316-0.74609-2.3516v-0.7832h10.117v-4.0703c0-0.97067-0.11216-1.9028-0.29883-2.7988-0.18667-0.85867-0.55936-1.6425-1.082-2.3145s-1.2327-1.1948-2.166-1.6055c-0.93333-0.41067-2.128-0.59766-3.584-0.59766zm21.037 0c-1.1573 0-2.2034 0.18548-3.1367 0.52148-0.93333 0.336-1.8293 0.82281-2.6133 1.3828l-0.44727-1.5312h-3.6211v26.17l4.5547-0.63477v-7.5039c0.70933 0.14933 1.53 0.263 2.3887 0.375 0.85867 0.112 1.6808 0.14844 2.4648 0.14844 2.128 0 3.6585-0.55946 4.5918-1.7168 0.93333-1.12 1.418-2.6891 1.418-4.7051v-6.1973c0-2.0907-0.48464-3.6576-1.418-4.7402-0.93333-1.0453-2.3523-1.5684-4.1816-1.5684zm40.223 0c-1.568 0-2.8748 0.18699-3.8828 0.59766-1.008 0.41067-1.8304 0.93174-2.4277 1.5664-0.59734 0.672-1.0065 1.4577-1.2305 2.3164-0.26134 0.85867-0.37305 1.7542-0.37305 2.6875v4.5918c0 0.93333 0.11171 1.8288 0.37305 2.6875 0.224 0.85867 0.63313 1.6427 1.2305 2.2773 0.59733 0.672 1.4197 1.1948 2.4277 1.6055s2.3148 0.59766 3.8828 0.59766 2.8748-0.18699 3.8828-0.59766 1.8284-0.93347 2.4258-1.6055c0.59733-0.63467 1.0082-1.4187 1.2695-2.2773 0.224-0.85867 0.33594-1.7542 0.33594-2.6875v-4.5918c0-0.93333-0.11194-1.8288-0.33594-2.6875-0.26133-0.85867-0.6722-1.6444-1.2695-2.3164-0.59734-0.63467-1.4178-1.1557-2.4258-1.5664-1.008-0.41067-2.3148-0.59766-3.8828-0.59766zm23.502 0c-1.0827 0-2.2773 0.18548-3.584 0.52148-1.3067 0.336-2.538 0.82281-3.6953 1.3828l-0.44922-1.5312h-3.4707v18.182h4.5547v-12.619c0.82133-0.41067 1.6802-0.78336 2.5762-1.082 0.85866-0.29867 1.6041-0.44922 2.1641-0.44922 0.52267 0 0.89709 0.11194 1.1211 0.33594 0.224 0.26133 0.33594 0.63576 0.33594 1.1211v12.693h4.5547v-13.18c0-1.6427-0.29915-2.9493-0.89649-3.9199-0.63466-0.97067-1.6803-1.4551-3.2109-1.4551zm15.863 0c-0.48534 0-0.9693-2.24e-4 -1.5293 0.03711-0.56 0.03733-1.0826 0.11283-1.6426 0.1875-0.56 0.112-1.1201 0.22394-1.6055 0.33594-0.52266 0.112-0.97214 0.26082-1.3828 0.41016l0.63477 3.6582c0.70933-0.26133 1.5317-0.4481 2.4277-0.63476 0.85867-0.14933 1.718-0.22461 2.502-0.22461 1.3067 0 2.2024 0.22388 2.6504 0.67188 0.41066 0.448 0.63476 1.1214 0.63476 2.0547v1.5293h-4.8164c-1.904 0-3.2859 0.41086-4.1445 1.2695-0.85866 0.85867-1.3066 2.2039-1.3066 4.0332 0 0.784 0.0751 1.5311 0.26172 2.2031 0.18667 0.672 0.44871 1.2686 0.85938 1.7539 0.41066 0.52267 0.89463 0.93398 1.5293 1.1953 0.59734 0.29867 1.3442 0.44726 2.2402 0.44726 1.0453 0 2.0914-0.1486 3.1367-0.44726 1.0453-0.29867 1.9406-0.70998 2.7246-1.1953l0.29882 1.2695h3.7715v-12.096c0-1.1573-0.11194-2.1279-0.33594-2.9492-0.26133-0.82133-0.63531-1.4949-1.1953-2.0176-0.56-0.52267-1.3069-0.89492-2.2402-1.1562-0.93333-0.224-2.0913-0.33594-3.4726-0.33594zm-142.57 0.37305 5.748 9.0352-5.8613 9.1465h4.6309l3.6582-5.6367 3.6211 5.6367h4.666l-5.8984-9.1465 5.75-9.0352h-4.5547l-3.584 5.5254-3.6211-5.5254zm86.344 0v18.182h4.5547v-18.182zm-44.432 3.1367c1.0827 0 1.8296 0.26031 2.2402 0.82031s0.59766 1.2331 0.59766 2.0918v1.4922h-5.7871v-1.4922c0-0.85867 0.2241-1.5689 0.63477-2.1289 0.41067-0.52267 1.1945-0.7832 2.3145-0.7832zm19.879 0.37305c0.85867 0 1.4199 0.18699 1.7559 0.59766 0.336 0.41067 0.48438 0.97013 0.48438 1.7168v6.4219c0 0.82133-0.18744 1.4175-0.52344 1.8281-0.336 0.41067-0.93257 0.59766-1.7539 0.59766-0.63467 0-1.3434-0.03644-2.0527-0.14844-0.70933-0.112-1.3812-0.22394-1.9785-0.33594v-9.0352c0.48533-0.448 1.1186-0.8222 1.8652-1.1582 0.70933-0.336 1.4565-0.48437 2.2031-0.48437zm41.418 0c1.232 0 2.0906 0.26054 2.6133 0.7832 0.48533 0.52267 0.74609 1.3062 0.74609 2.3516v4.8906c0 1.0453-0.26076 1.8308-0.74609 2.3535-0.52267 0.52267-1.3813 0.7832-2.6133 0.7832s-2.0908-0.26054-2.5762-0.7832c-0.52266-0.52267-0.7832-1.3082-0.7832-2.3535v-4.8906c0-1.0453 0.26054-1.8289 0.7832-2.3516 0.48534-0.52267 1.3442-0.7832 2.5762-0.7832zm38.246 7.4297h3.8086v3.3594c-0.41067 0.18667-0.93324 0.37388-1.6426 0.56055-0.70933 0.18667-1.4562 0.29883-2.2402 0.29883s-1.307-0.18699-1.5684-0.59766c-0.26133-0.41067-0.41016-0.93324-0.41016-1.6426 0-0.784 0.14838-1.307 0.48438-1.5684 0.29866-0.26133 0.82169-0.41016 1.5684-0.41016z" fill="#ccc" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal"/>
 <symbol id="s-text"><text transform="scale(1.1478 .87127)" x="38.581482" y="59.615013" fill="#cccccc" font-family="klavika-web" font-size="56.357px" font-weight="500" letter-spacing="0px" stroke-width="1.5096" word-spacing="0px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="38.581482" y="59.615013" fill="#ffffff" font-family="klavika-web" font-size="16px" font-weight="500" letter-spacing="4.74px" stroke-width="1.5096" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25">SERVERS</tspan></text></symbol>
				<use xlink:href="#s-text" class="text"></use>
				<use xlink:href="#s-text" class="text"></use>
				<use xlink:href="#s-text" class="text"></use>
				<use xlink:href="#s-text" class="text"></use>
				<use xlink:href="#s-text" class="text"></use>
</svg>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/">Main
                <span class="sr-only">(current)</span>
              </a>
            </li>

            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/services">Services
              </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" href="/servers">Servers
              </a>
            </li>

             </li>
            <li class="nav-item ">
              <a class="nav-link" href="/design">Design
              </a>
            </li>

            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/custom">Custom
              </a>
            </li>
  
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/clients">Clients
              </a>
            </li>
          </ul>
      </div>
    </nav>
  </header>