    <section class="brand-section bg-ghost-white pv50">
      <div class="container">
        <div class="owl-carousel brand-carousel" id="brands">
            <div class="single-brand">
              <img src="assets/img/brand-1.png" alt="">
            </div>
            <div class="single-brand">
              <img src="assets/img/brand-2.png" alt="">
            </div>
            <div class="single-brand">
              <img src="assets/img/brand-3.png" alt="">
            </div>
            <div class="single-brand">
              <img src="assets/img/brand-4.png" alt="">
            </div>
            <div class="single-brand">
              <img src="assets/img/brand-5.png" alt="">
            </div>
            <div class="single-brand">
              <img src="assets/img/brand-6.png" alt="">
            </div>
            <div class="single-brand">
              <img src="assets/img/brand-7.png" alt="">
            </div>
            <div class="single-brand">
              <img src="assets/img/brand-8.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>