    <section class="section-padding home-cta bg-image" style="background-image:url(assets/img/cta-bg.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="cta-content">
              <h2>Looking For Custom Services?</h2>
              <h4>20 years on UNIX based Linux servers on 5 continents anything you need we have done it before</h4>
              <a href="" class="btn btn-white">Free Quote</a>
            </div>
          </div>
        </div>
      </div>
    </section>