{% extends "layout.twig" %}

{% block content %}

  <div class="main-wrapper home">

{% include 'blocks/carousel.twig' %}

{% include 'blocks/services.twig' %}

{% include 'blocks/custom.twig' %}

{% include 'blocks/contact.twig' %}

{% include 'blocks/brands.twig' %}

{% include 'includes/footer.twig' %}

  </div>

{% endblock %}